<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Formulario</a>
    </nav>
    <a href="/" class="btn btn-warning" type="button">Ingresar</a>
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <form action="/add" method="post">
                                    <div class="form-group">
                                        <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="correo" placeholder="Correo" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" name="telefono" placeholder="Telefono" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="comentarios" placeholder="Comentario" class="form-control"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
<footer>
    <p>© 2024 Tu Empresa</p>
</footer>
</body>
</html>



