<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilosStiven.css">
    <link rel="shortcut icon" href="/imagenes/typaginaya.png" type="image/x-icon">
</head>
<body>
    <header class="header">
        <img class="logo" src="/imagenes/tupagina.png" alt="logotumaginaYa">
        <nav class="main-nav">
            <div id="toggle-menu" class="toggle-menu">
                <img src="/imagenes/lineas.png" alt="lineasMenu">
            </div>
            <ul id="main-menu" class="main-menu">
                <li class="main-menu__item">
                    <a href="" class="main-menu__link">Inicio</a> <!-- Aqui va un link para el index-->
                </li>
                <li class="main-menu__item">
                    <a href="" class="main-menu__link">Paginas Web</a>  <!-- Aqui va un link para las sub paginas-->
                </li>
                <li class="main-menu__item">
                    <a href="" class="main-menu__link">Blog</a> <!-- Aqui va un link para las sub paginas-->
                </li>
                <li class="main-menu__item">
                    <a href="" class="main-menu__link">쯈uienes Somos?</a> <!-- Aqui va un link para las sub paginas-->
                </li>
            </ul>
        </nav>
    </header>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Formulario</a>
    </nav>
    <a href="/" class="btn btn-warning" type="button">Ingresar</a>
    
    <main class="main">

    <div class="hero">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-7">
                    <div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-body__title"><strong>Formulario</strong>  de <br> Contacto</h2>
                                    <div class="card-body__separador"></div>
                                    <p class="card-body__text">Completa el siguiente formulario de contacto con tus datos y te llamaremos de inmediato para brindarte m치s informaci칩n sobre nuestros servicios de </p>
                                    <form action="/add" method="post">
                                        <div class="form-group">
                                            <label class="form-label">Tu nombre (Requerido)</label>
                                            <input type="text" name="nombre" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Tu correo (Requerido)</label>
                                            <input type="email" name="correo" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Tu tel칠fono (Requerido)</label>
                                            <input type="number" name="telefono" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Tu mensaje</label>
                                            <textarea name="comentarios" class="form-control-comentario"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            
        </div>
    </div>

    <!-- Section nuestros clientes   /imagenes/proyecto1.jpg-->
    <section class="section__nuestros-clientes">
        <div class="flex">
            <div class="nuestros-clientes__container1">
                <h2 class="nuestros-clientes__title">NUESTROS CLIENTES</h2>
                <p class="nuestros-clientes__text">HABLAN POR <br> NOSOTROS</p>
                <div class="team__div-separador"></div>
            </div>
            <div class="container-opiniones">
                <!-- Esta primera carta tiene la clase "active" para estar visible al cargar la p치gina -->
                <div class="nuestros-clientes__container-opinion active">
                    <div class="card-opinion">
                        <img class="card-opinion__logo" src="/imagenes/images (1).png" alt="">
                        <div class="container-info__cliente">
                            <h3 class="container-info__title">Adidas</h3>
                            <p class="container-info__text">Hace 5 meses</p>
                        </div>
                    </div>
                    <div class="container__rese침a-cliente">
                        <p class="rese침a-cliente__text">Muy buen servicio, fue una buena elecci칩n trabajar de la mano con ellos, estuvieron muy atentos a nuestras opiniones y necesidades, son cumplidos en los tiempos y el resultado fue una p치gina web tal cual la requer칤amos. Cabe resaltar que luego de la entrega final contin칰an atendiendo nuestras dudas con la mejor actitud. Recomendados 游때</p>
                    </div>
                </div>
            
                <div class="nuestros-clientes__container-opinion">
                    <div class="card-opinion">
                        <img class="card-opinion__logo" src="/imagenes/mountain-logo-vector-36527917.jpg" alt="">
                        <div class="container-info__cliente">
                            <h3 class="container-info__title">Mountain Pictures</h3>
                            <p class="container-info__text">Hace 7 meses</p>
                        </div>
                    </div>
                    <div class="container__rese침a-cliente">
                        <p class="rese침a-cliente__text">El trabajo que me realizaron fue un trabajo de calidad, concreto y sencillo que apunta realmente a la intenci칩n y el prop칩sito que tiene mi emprendimiento que se basa en la aventura y el turismo. Las veces que pueda recomendar esta agencia, lo har칠.</p>
                    </div>
                </div>
            
                <div class="nuestros-clientes__container-opinion">
                    <div class="card-opinion">
                        <img class="card-opinion__logo" src="/imagenes/images.png" alt="">
                        <div class="container-info__cliente">
                            <h3 class="container-info__title">Versace</h3>
                            <p class="container-info__text">Hace 1 a침o</p>
                        </div>
                    </div>
                    <div class="container__rese침a-cliente">
                        <p class="rese침a-cliente__text">Excelente experiencia trabajando con su equipo. Desde el principio, fueron muy receptivos a nuestras ideas y requerimientos, cumpliendo puntualmente con los plazos establecidos. El resultado final fue exactamente lo que esper치bamos, superando nuestras expectativas.</p>
                    </div>
                </div>
            
                <!-- Bot칩n para cambiar de opini칩n -->
                <button class="btn-flecha" id="next-btn">俱뫮잺</button>
            </div>
        </div>
        <div class="flex">
        <button class="ultimos-proyectos__button"> VER TODOS NUESTROS CLIENTES</button>
        <img class="nuestros-clientes__img" src="/imagenes/LOGOS.jpg" alt="logos-clientes">
        </div>
    </section>

    <!--Section informacion servicios -->
    <section class="section__informacion-servicios">
        <p class="informacion-servicios__active">SERVICIOS</p>
        <div class="informacion-servicios__container">
            <div class="flex">
                <div class="informacion-servicios__content">
                    <h2 class="informacion-servicios__title">DISE칌O DE PAGINAS WEB</h2>
                    <p class="informacion-servicios__text">
                        Nos apasiona crear sitios web veloces, que funcionan en cualquier dispositivo, y que te ayudan a dar a conocer tu empresa, proyectando una imagen solida y profesional ante el mercado.
                    </p>
                    <p class="informacion-servicios__leer-mas">LEER M츼S俱뫮잺</p>
                </div>
                <div class="informacion-servicios__content margin">
                    <h2 class="informacion-servicios__title">DISE칌O DE TIENDAS VIRTUALES</h2>
                    <p class="informacion-servicios__text">
                        Lleva tus ventas al siguiente nivel con una tienda virtual hecha 100% a tu medida, desarrollada por los mejores.
                    </p>
                    <p class="informacion-servicios__leer-mas mas">LEER M츼S俱뫮잺</p>
                </div>
            </div>
            <div class="team__div-separador-unico"></div>
            <div class="flex-active">
                <div class="informacion-servicios__content">
                    <h2 class="informacion-servicios__title">BLOGS</h2>
                    <p class="informacion-servicios__text">
                        Tienes un conocimiento y te apasiona compartilo con los demas para que sientas que aportas a la sociedad, con una pagina web de blog lo podrias hacer, y nos encanta hacerlo realidad..
                    </p>
                    <p class="informacion-servicios__leer-mas">LEER M츼S俱뫮잺</p>
                </div>
                <div class="informacion-servicios__content margin">
                    <h2 class="informacion-servicios__title">LANDING PAGES</h2>
                    <p class="informacion-servicios__text">
                        Lleva tus ventas al siguiente nivel con una tienda virtual hecha 100% a tu medida, desarrollada por los mejores.
                    </p>
                    <p class="informacion-servicios__leer-mas mas">LEER M츼S俱뫮잺</p>
                </div>
            </div>
        </div>
    </section>

    <!--Section ultimos proyectos -->
    <section class="section__ultimos-proyectos">
        <h2 class="ultimos-proyectos__title"> 칔LTIMOS <br> PROYECTOS </h2>
        <div class="ultimos-proyectos__container">
            <img class="ultimos-proyectos__img" src="/imagenes/proyecto1.jpg" alt="proyecto-ultimo1">
            <img class="ultimos-proyectos__img" src="/imagenes/proyecto5.jpg" alt="proyecto-ultimo2">
            <img class="ultimos-proyectos__img" src="/imagenes/proyecto4.png" alt="proyecto-ultimo3">
        </div>
        <button class="ultimos-proyectos__button proyectos"> VER TODOS LOS PROYECTOS</button>
    </section>

    <!-- Aqu칤 va el contenido de quienes Somos de la pagina de inicio-->
    <section class="section__quienes-somos">
        <div class="quienes-somos__container">
            <div class="quienes-somos__content">
                <h2 class="quienes-somos__title">쯈uienes Somos?</h2>
                <p class="quienes-somos__text">Somos una agencia digital ubicada en Bogota Colombia, contamos con 2 a침os de experiencia en dise침o de p치ginas web para todo tipo de nicho y tiendas virtuales para empresas.
                    <br>
                    <br>
                    Somos especialistas en ayudar a nuestros clientes  a cumplir sus objetivos y nos hace felir ver como trabajar en equipo, las empresas crecen, incrementan sus ventas y se establecen en el mercado.
                </p>
            </div>
            <div class="quienes-somos__container-img">
                <img class="quienes-somos__img" src="/imagenes/tipos-paginas-web.jpg" alt="Dise침o Web para diferentes dispositivos">
            </div>
        </div>
    </section>

    <!-- Section TEAM Equipo de trabajo -->
    <section class="section__team">
        <h2 class="team__title">TEAM</h2>
        <div class="team__div"></div>
        <p class="team__text">Los que hacen realidad tus proyectos</p>
        <div class="team__container-equipo">
            <div class="card-container">
                <img class="team__img--hover" src="/imagenes/dama2.avif" alt="dama1">
                <div class="card-text">
                    <h2>Monica</h2>
                    <p>Desarrolladora Web</p>
                </div>
            </div>
        
            <div class="card-container">
                <img class="team__img--hover" src="/imagenes/hombre1.avif" alt="hombre1">
                <div class="card-text">
                    <h2>Jorge Morales</h2>
                    <p>Desarrollador Web</p>
                </div>
            </div>
        
            <div class="card-container">
                <img class="team__img--hover" src="/imagenes/hombre2.jpg" alt="hombre2">
                <div class="card-text">
                    <h2>Andres Lote</h2>
                    <p>Desarrollador Web</p>
                </div>
            </div>
        
            <div class="card-container">
                <img class="team__img--hover" src="/imagenes/dama2.avif" alt="dama2">
                <div class="card-text">
                    <h2>Amparo</h2>
                    <p>Desarrolladora Web</p>
                </div>
            </div>
        
            <div class="card-container">
                <img class="team__img--hover" src="/imagenes/hombre3.jpg" alt="hombre3">
                <div class="card-text">
                    <h2>Stiven Aguirre</h2>
                    <p>Desarrollador Web</p>
                </div>
            </div>
        </div>
    </section>
    
    </main>

    <footer>
        <div class="footer__container">
            <div class="footer__container1">
                <img class="tupaginaya__icon" src="/imagenes/tupagina.png" alt="tupaginaYA Logo">
                <div class="container__icons--footer">
                    <div class="container-icons--footer">
                        <a href="">
                            <svg class="social-media--footer">
                                <use href="/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="container-icons--footer">
                        <a href="">
                            <svg class="social-media--footer">
                                <use href="/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="container-icons--footer">
                        <a href="">
                            <svg class="social-media--footer">
                                <use href="/symbol-defs.svg#icon-whatsapp"></use>
                            </svg>
                        </a>
                    </div>
    
                </div>
            </div>
            <div class="footer__container2">
                <h2 class="title__contacto--footer">CONTACTO</h2>
                <p class="text__contacto--footer">쮸gendamos tu cita?</p>
                <div class="container__agendar--footer">
                    <div class="container-icons--agendar-footer">
                        <svg class="icon-telefono--footer">
                            <use href="/symbol-defs.svg#icon-phone" ></use>
                        </svg>
                    </div>
                    <address class="address__contacto--footer">
                        <p>Llamanos al</p>
                        <p>(+57) 312 345 67 89</p>
                    </address>
                </div>

            </div>
            <div class="footer__container3">
                <a href="">
                    <button class="botton__contacto--footer">춰ESCR칈BENOS!</button>
                </a>
            </div> 
        </div>
        <p class="text__reserved">춸 2024. All rights reserved</p>
    </footer>
</body>
</html>



